In [1]:
import pandas as pd
import tensorflow as tf
from tqdm import tqdm
from transformers import BertTokenizer
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Embedding, LSTM, Dense, Flatten, Activation, RepeatVector, Permute, Lambda, \
 Bidirectional, TimeDistributed, Dropout, Conv1D, GlobalMaxPool1D, multiply, concatenate
from tensorflow.keras.preprocessing.sequence  import  pad_sequences
from tensorflow.keras.layers import Layer
from itertools import product
import keras.backend as K

c:\Users\ayush\miniconda3\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
tx_df = pd.read_csv("train_dataframe.csv")
tx_df  = tx_df[["text_id", "title", "text"]]
tx_df.columns = ["id1", "title1", "text1"]

C:\Users\ayush\AppData\Local\Temp\ipykernel_23920\154015079.py:1: DtypeWarning: Columns (21,33,34,35,36,37,38,41,46,48,49,60,61,62,66,67,69,71,72,73,74,75,76,77,78,79,82,83,84,85,86,87,88,89,90,91,92,94,95,96,97,98,100,101,102,105,106,107,108,110,111,112,113,114,116,117,118,119,122,123,124,125,126,127,128,129,131,132,133,134,135,137,138,139,140,141,142,143,144,146,147,148,149,150,151,153,154,155,156,159,160,161,162,163,164,165,169,171,173,174,175,176,177,178,179,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,238,239,240,241,242,243,244,245,247,248,249,250,251,252,253,254,255,256,257,258,259,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,278,279,280,281,282,283,285,286,287,289,290,291,292,293,294,295,296,297,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,375,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,541,543,544,545,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,564,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,610,611,613,614,616,617,618,619,620,622,623,625,626,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,652,653,654,655,656,658,659,660,661,662,663,664,665,670,671,672,673,674,675,676,677,678,679,682,683,684,685,686,687,688,689,690,691,692,694,695,696,699,700,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,739,740,741,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,786,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,822,823,824,825,826,827,829,830,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,849,850,851,852,853,854,856,857,858,859,860,861,862,863,865,866,871,872,873,874,875,876,877,878,879,880,881,882,883,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,909,910,911,912,913,915,916,919,920,921,922,923,924,925,926,928,929,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,954,955,956,957,958,959,963,964,965,966,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1001,1003,1004,1005,1007,1008,1016,1017,1018,1020,1021,1022,1023,1024,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1056,1059,1060,1061,1063,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1121,1122,1123,1124,1125,1126,1127,1128,1129,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1149,1151,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1262,1263,1264,1265,1266,1267,1268,1270,1271,1272,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1335,1336,1337,1338,1339,1340,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1364,1365,1366,1367,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1384,1385,1386,1387,1389,1390,1391,1392,1393,1394,1396,1397,1398,1399,1400,1401,1402,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1447,1448,1450,1451,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1486,1487,1488,1489,1490,1491,1492,1494,1495,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1533,1534,1535,1536,1537,1538,1539,1541,1542,1543,1544,1546,1547,1548,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1569,1570,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1607,1608,1612,1613,1614,1616,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1634,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1677,1678,1679,1680,1681,1682,1684,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1699,1700,1701,1702,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1801,1802,1804,1805,1806,1807,1808,1811,1812,1813,1814,1815,1816,1817,1818,1820,1822,1823,1824,1825,1826,1827,1828,1830,1831,1832,1833,1834,1835,1836,1837,1838,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1853,1855,1856,1857,1860,1861,1862,1863,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1897,1898,1899,1900,1901,1902,1903,1904,1906,1907,1908,1909,1910,1911,1912,1913,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1945,1946,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,2000,2001,2002,2004,2005,2006,2007,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2024,2025,2026,2027,2028,2029,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2077,2078,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2142,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2163,2164,2165,2166,2167,2168,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2231,2232,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2273,2274,2275,2276,2277,2278,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2319,2321,2322,2325,2326,2328,2329,2330) have mixed types. Specify dtype option on import or set low_memory=False.
  tx_df = pd.read_csv("train_dataframe.csv")

In [3]:
pair = tx_df.iloc[1::2,:]
tx_df.drop(index=pair.index.tolist(), axis=0, inplace=True)
tx_df["id2"] = pair.id1.tolist()
tx_df["title2"] = pair.title1.tolist()
tx_df["text2"] = pair.text1.tolist()

In [4]:
tx_df

,id1,title1,text1,id2,title2,text2
0,1484084337,Virginia man arrested in fatal DUI crash in We...,"MARTINSBURG, W.Va. — A suspected drunken drive...",1484110209,Haiti’s leader marks independence day amid sec...,"PORT-AU-PRINCE, Haiti — Haitian President Jove..."
2,1484396422,Guyana: Three injured after car crashes into u...,(NEWS ROOM GUYANA) — Three persons are current...,1483924666,"Apes, monkeys among more than 30 animals kille...",BERLIN - A fire raced through a zoo in western...
4,1484698254,Trump Brings In 2020 At Mar-a-Lago: ‘We’re Goi...,(Breitbart) – President Donald Trump welcomed ...,1483758694,"Trump says he does not expect war with Iran, ‘...","PALM BEACH, United States — US President Donal..."
6,1576314516,Zomato Buys Uber's Food Delivery Business in I...,Uber has sold its online food-ordering busines...,1576455088,Indian Online Food Delivery Market to Hit $8 B...,Rapid digitisation and growth in both online b...
8,1484036253,"India approves third moon mission, months afte...",BENGALURU (Reuters) - India has approved its t...,1483894099,NaN,NaN
...,...,...,...,...,...,...
7714,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...
7716,1521779533,"Berlin: Ein Toter, vier Verletzte bei Schießer...",Update 11:20: Polizei korrigiert Zahl der Verl...,1484662752,Gunman Opens Fire At Cafe In Berlin City Centr...,The shots were likely related to a robbery att...
7718,1537102350,CDU-Vorsitz: Ein Chef auf Probe,Wer beim Sonderparteitag im April zum neuen Vo...,1531416451,BERLIN – Laschet and Merz announce CDU candidacy,North Rhine-Westphalia’s Minister-President Ar...
7720,1593108703,Neu-Isenburg: Heinz Schickedanz ist im Alter v...,Trauer um ein Isenburger Urgestein - Als „Blät...,1546957384,SMa.r.t. Column: We Must Act Now,"Like many others in town, our group consists o..."
7722,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...

In [5]:
url_df = pd.read_csv("train.csv")
url_df[['id1', 'id2']] = url_df["pair_id"].apply(lambda x: pd.Series(str(x).split("_")))
url_df.drop("pair_id", axis=1, inplace=True)
url_df.drop(url_df[url_df.duplicated(['id1', 'id2'])].index, axis=0, inplace=True)
overalls = []
remove = []
for id in tx_df["id1"].tolist():
    try:
        overalls.append(url_df[url_df["id1"] == str(id)].Overall.values[0])
    except:
        overalls.append(url_df[url_df["id2"] == str(id)].Overall.values[0])
        
tx_df["overall"] = overalls

In [6]:
tx_df

,id1,title1,text1,id2,title2,text2,overall
0,1484084337,Virginia man arrested in fatal DUI crash in We...,"MARTINSBURG, W.Va. — A suspected drunken drive...",1484110209,Haiti’s leader marks independence day amid sec...,"PORT-AU-PRINCE, Haiti — Haitian President Jove...",4.000000
2,1484396422,Guyana: Three injured after car crashes into u...,(NEWS ROOM GUYANA) — Three persons are current...,1483924666,"Apes, monkeys among more than 30 animals kille...",BERLIN - A fire raced through a zoo in western...,3.666667
4,1484698254,Trump Brings In 2020 At Mar-a-Lago: ‘We’re Goi...,(Breitbart) – President Donald Trump welcomed ...,1483758694,"Trump says he does not expect war with Iran, ‘...","PALM BEACH, United States — US President Donal...",2.333333
6,1576314516,Zomato Buys Uber's Food Delivery Business in I...,Uber has sold its online food-ordering busines...,1576455088,Indian Online Food Delivery Market to Hit $8 B...,Rapid digitisation and growth in both online b...,2.000000
8,1484036253,"India approves third moon mission, months afte...",BENGALURU (Reuters) - India has approved its t...,1483894099,NaN,NaN,1.250000
...,...,...,...,...,...,...,...
7714,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...,4.000000
7716,1521779533,"Berlin: Ein Toter, vier Verletzte bei Schießer...",Update 11:20: Polizei korrigiert Zahl der Verl...,1484662752,Gunman Opens Fire At Cafe In Berlin City Centr...,The shots were likely related to a robbery att...,4.000000
7718,1537102350,CDU-Vorsitz: Ein Chef auf Probe,Wer beim Sonderparteitag im April zum neuen Vo...,1531416451,BERLIN – Laschet and Merz announce CDU candidacy,North Rhine-Westphalia’s Minister-President Ar...,2.000000
7720,1593108703,Neu-Isenburg: Heinz Schickedanz ist im Alter v...,Trauer um ein Isenburger Urgestein - Als „Blät...,1546957384,SMa.r.t. Column: We Must Act Now,"Like many others in town, our group consists o...",4.000000
7722,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...,1486926924,21st Austria weekly - Foreign trade statistics...,Regional foreign trade: In the first half year...,4.000000

In [7]:
pd.set_option("display.max_rows", 200)

In [8]:
tx_df.dropna(axis=0, how="any", inplace=True)

In [9]:
#distribution of the languages used in the corpus
url_df["url1_lang"].value_counts()

en    1800
de    1388
es     570
tr     465
pl     349
ar     274
fr      72
Name: url1_lang, dtype: int64

In [10]:
def get_seq_lens(tx_df: pd.DataFrame, col: list[str]) -> list[list[int]]:
    col_seq_len = []
    text2_seq_len = []
    title1_seq_len = []
    title2_seq_len = []
    df = tx_df.copy()
    for i in tqdm(tx_df.index):
        df.loc[i,col] = df.loc[i,col].apply(lambda x: len(x)).copy()
    for c in col:
        col_seq_len.append(df[c].tolist())
    return col_seq_len

In [11]:
tokenizer = BertTokenizer.from_pretrained("bert-base-multilingual-uncased")
enc = tokenizer.encode("Hello there!")
dec = tokenizer.decode(enc)
print("Encode: " + str(enc))
print("Decode: " + str(dec))
print("[CLS]: " + str(enc[0]))
print("[SEP]: " + str(enc[4]))
print("[PAD]: " + str(tokenizer.encode("[PAD]")[1]))

print("="*250)

print("Encoding the data in the dataframe")
for i in tqdm(tx_df.index):
    tx_df.loc[i,["text1", "text2", "title1", "title2"]] = tx_df.loc[i,["text1", "text2", "title1", "title2"]].apply(tokenizer.encode).copy()

print("="*250)
    
print("Getting the corpus source length")    
#text1_seq_len, text2_seq_len, title1_seq_len, title2_seq_len = get_seq_lens(tx_df)

Encode: [101, 29155, 10768, 106, 102]
Decode: [CLS] hello there! [SEP]
[CLS]: 101
[SEP]: 102
[PAD]: 0
==========================================================================================================================================================================================================================================================
Encoding the data in the dataframe

  0%|          | 0/3682 [00:00<?, ?it/s]Token indices sequence length is longer than the specified maximum sequence length for this model (664 > 512). Running this sequence through the model will result in indexing errors
100%|██████████| 3682/3682 [01:16<00:00, 48.26it/s]

==========================================================================================================================================================================================================================================================
Getting the corpus source length

In [12]:
def  split_and_zero_padding(df, max_seq_length): # Adjust tokens length
 
 # Convert the training set matrix into a dictionary
#  X  = {'left' : df['text1'], 'right':df['text2']}
 for i in tqdm(df.index):
   df.at[i,'text1'] =  list(pad_sequences(df.loc[i, ['text1']].tolist(), padding='post', maxlen=max(max_seq_length[0]), value=tokenizer.encode("[PAD]")[1])[0])
   df.at[i,'text2'] =  list(pad_sequences(df.loc[i, ['text2']].tolist(), padding='post', maxlen=max(max_seq_length[1]), value=tokenizer.encode("[PAD]")[1])[0])
 # Adjust to the specified length
#  for  dataset, side in product([X], ['left', 'right']):
#     dataset[side] =  pad_sequences (dataset[side], padding='pre', truncating='post', maxlen=max_seq_length[0])
 
 return df
 
 
class ManDist(Layer): # Manhattan distance calculation encapsulated into keras layer
 
 # Initialize the ManDist layer, no parameter input is required at this time
 def __init__(self, ** kwargs):
    self.result = None
    super(ManDist, self).__init__(** kwargs)
 
 # Automatically create the ManDist layer
 def build(self, input_shape):
    super(ManDist, self).build(input_shape)
 
 # Compute the Manhattan distance
 def call(self, x, ** kwargs):
    self.result = K.exp(-K.sum(K.abs(x[0] -  x[1]), axis=1, keepdims=True))
    return  self.result
 
 # return result
 def compute_output_shape(self, input_shape):
    return K.int_shape(self.result)

In [15]:
X_train = X_train.apply(tf.convert_to_tensor)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type list).

In [14]:
# Split the training set
x = tx_df[['text1', 'text2']]
y = tx_df['overall'].astype("int32")
X_train, X_val, Y_train, Y_val = train_test_split(x, y, test_size=0.1)
tr_seq_len_tx1, tr_seq_len_tx2 = get_seq_lens(X_train, ['text1', 'text2'])
X_train = split_and_zero_padding(X_train, [tr_seq_len_tx1, tr_seq_len_tx2])
val_seq_len_tx1, val_seq_len_tx2 = get_seq_lens(X_val, ['text1', 'text2'])
X_val = split_and_zero_padding(X_val, [val_seq_len_tx1, val_seq_len_tx2])
 
# Convert labels to numbers
Y_train = Y_train.values
Y_val = Y_val.values

X_train = X_train.tolist().apply(tf.convert_to_tensor)
X_val = X_val.tolist().apply(tf.convert_to_tensor)
Y_train = tf.convert_to_tensor(Y_train)
Y_val = tf.convert_to_tensor(Y_val)

# Confirm that the data is ready and correct
assert X_train['text1'].shape == X_train['text2'].shape
assert len(X_train['text1']) == len(Y_train)

100%|██████████| 3313/3313 [00:04<00:00, 741.50it/s]
100%|██████████| 3313/3313 [00:39<00:00, 84.44it/s]
100%|██████████| 369/369 [00:02<00:00, 152.95it/s]
100%|██████████| 369/369 [22:10<00:00,  3.61s/it]

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type list).

In [29]:
X_train

,text1,text2
5652,"[101, 18552, 168, 28441, 17118, 20770, 10433, ...","[101, 51356, 37443, 62738, 21888, 23846, 14337..."
3956,"[101, 35032, 93162, 51915, 13856, 23571, 165, ...","[101, 165, 32917, 23518, 29381, 32309, 11337, ..."
2342,"[101, 37783, 10372, 13524, 10114, 25839, 11310...","[101, 25650, 117, 10377, 10806, 117, 20657, 10..."
2616,"[101, 122, 10108, 10148, 11530, 11848, 15535, ...","[101, 10151, 16061, 11636, 11416, 10246, 17397..."
7016,"[101, 12976, 58817, 10111, 34827, 117, 10121, ...","[101, 10144, 53693, 10592, 10144, 53693, 10592..."
...,...,...
5216,"[101, 18149, 10102, 58177, 131, 10494, 50967, ...","[101, 10109, 11707, 117, 10265, 36447, 10134, ..."
4568,"[101, 107, 11312, 14650, 17134, 80159, 11423, ...","[101, 48135, 11008, 68612, 46831, 10114, 58159..."
6244,"[101, 10109, 10608, 10102, 14451, 15865, 16113...","[101, 11357, 10106, 11831, 24755, 10102, 154, ..."
3884,"[101, 29104, 11266, 19706, 10732, 25473, 18908...","[101, 14072, 90652, 10402, 12380, 10136, 57950..."
2206,"[101, 42324, 113, 31860, 10805, 114, 100, 1634...","[101, 113, 37316, 29524, 118, 14853, 11636, 15..."

In [31]:
X_train

,text1,text2
5652,"[101, 18552, 168, 28441, 17118, 20770, 10433, ...","[101, 51356, 37443, 62738, 21888, 23846, 14337..."
3956,"[101, 35032, 93162, 51915, 13856, 23571, 165, ...","[101, 165, 32917, 23518, 29381, 32309, 11337, ..."
2342,"[101, 37783, 10372, 13524, 10114, 25839, 11310...","[101, 25650, 117, 10377, 10806, 117, 20657, 10..."
2616,"[101, 122, 10108, 10148, 11530, 11848, 15535, ...","[101, 10151, 16061, 11636, 11416, 10246, 17397..."
7016,"[101, 12976, 58817, 10111, 34827, 117, 10121, ...","[101, 10144, 53693, 10592, 10144, 53693, 10592..."
...,...,...
5216,"[101, 18149, 10102, 58177, 131, 10494, 50967, ...","[101, 10109, 11707, 117, 10265, 36447, 10134, ..."
4568,"[101, 107, 11312, 14650, 17134, 80159, 11423, ...","[101, 48135, 11008, 68612, 46831, 10114, 58159..."
6244,"[101, 10109, 10608, 10102, 14451, 15865, 16113...","[101, 11357, 10106, 11831, 24755, 10102, 154, ..."
3884,"[101, 29104, 11266, 19706, 10732, 25473, 18908...","[101, 14072, 90652, 10402, 12380, 10136, 57950..."
2206,"[101, 42324, 113, 31860, 10805, 114, 100, 1634...","[101, 113, 37316, 29524, 118, 14853, 11636, 15..."

In [33]:
for i in X_train.index:
    X_train.loc[i, "text1"] = tf.convert_to_tensor(X_train.loc[i, "text1"])
    X_train.loc[i, "text2"] = tf.convert_to_tensor(X_train.loc[i, "text2"])
    
for i in X_val.index:
    X_val.loc[i, "text1"] = tf.convert_to_tensor(X_val.loc[i, "text1"])
    X_val.loc[i, "text2"] = tf.convert_to_tensor(X_val.loc[i, "text2"])

In [30]:
X_train = X_train.apply(lambda x: tf.convert_to_tensor(list(x)))

ValueError: If using all scalar values, you must pass an index

In [ ]:
X_val = X_val.apply(lambda x: tf.convert_to_tensor(list(x)))

In [27]:
Y_train = tf.convert_to_tensor(Y_train)
Y_val = tf.convert_to_tensor(Y_val)

In [22]:
X_train = X_train.apply(tf.convert_to_tensor, axis=1)
X_val = X_val.apply(tf.convert_to_tensor, axis=1)

Y_train = tf.convert_to_tensor(Y_train)
Y_val = tf.convert_to_tensor(Y_val)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type list).

In [23]:
X_train

,text1,text2
5652,"[101, 18552, 168, 28441, 17118, 20770, 10433, ...","[101, 51356, 37443, 62738, 21888, 23846, 14337..."
3956,"[101, 35032, 93162, 51915, 13856, 23571, 165, ...","[101, 165, 32917, 23518, 29381, 32309, 11337, ..."
2342,"[101, 37783, 10372, 13524, 10114, 25839, 11310...","[101, 25650, 117, 10377, 10806, 117, 20657, 10..."
2616,"[101, 122, 10108, 10148, 11530, 11848, 15535, ...","[101, 10151, 16061, 11636, 11416, 10246, 17397..."
7016,"[101, 12976, 58817, 10111, 34827, 117, 10121, ...","[101, 10144, 53693, 10592, 10144, 53693, 10592..."
...,...,...
5216,"[101, 18149, 10102, 58177, 131, 10494, 50967, ...","[101, 10109, 11707, 117, 10265, 36447, 10134, ..."
4568,"[101, 107, 11312, 14650, 17134, 80159, 11423, ...","[101, 48135, 11008, 68612, 46831, 10114, 58159..."
6244,"[101, 10109, 10608, 10102, 14451, 15865, 16113...","[101, 11357, 10106, 11831, 24755, 10102, 154, ..."
3884,"[101, 29104, 11266, 19706, 10732, 25473, 18908...","[101, 14072, 90652, 10402, 12380, 10136, 57950..."
2206,"[101, 42324, 113, 31860, 10805, 114, 100, 1634...","[101, 113, 37316, 29524, 118, 14853, 11636, 15..."

In [36]:
from tensorflow.keras.initializers import GlorotUniform

In [38]:
def shared_model(_input, max_seq_length):
 # word vectorization
 embedded = Embedding(len(tokenizer.get_vocab()), 128, input_shape=(max_seq_length,), embeddings_initializer=GlorotUniform(seed=0))(_input)
 
 # Multilayer Bi-LSTM
 activations = Bidirectional(LSTM(n_hidden, return_sequences=True), merge_mode='concat')(embedded)
 activations = Bidirectional(LSTM(n_hidden, return_sequences=True), merge_mode='concat')(activations)
 
 # dropout
 # activations = Dropout(0.5)(activations)
 
 # Attention
 attention = TimeDistributed(Dense(1, activation='tanh'))(activations)
 attention = Flatten()(attention)
 attention = Activation('softmax')(attention)
 attention = RepeatVector(n_hidden * 2)(attention)
 attention = Permute([2, 1])(attention)
 sent_representation = multiply([activations, attention])
 sent_representation = Lambda(lambda xin: K.sum(xin, axis=1))(sent_representation)
 
 # dropout
 # sent_representation = Dropout(0.1)(sent_representation)
 
 return sent_representation
 
 
# def shared_model_cnn(_input):
#  # word vectorization
#  embedded = Embedding(len(embeddings), embedding_dim, weights=[embeddings], input_shape=(max_seq_length,),
#  trainable=False)(_input)
 
#  # CNN
#  activations = Conv1D(250, kernel_size=5, activation='relu')(embedded)
#  activations = GlobalMaxPool1D()(activations)
#  activations = Dense(250, activation='relu')(activations)
#  activations = Dropout(0.3)(activations)
#  activations = Dense(1, activation='sigmoid')(activations)
 
#  return activations
 
 
# ----------------- Main function ----------------- #
 
if __name__ == '__main__':
 
 # hyperparameter
 batch_size = 1024
 n_epoch  =  9
 n_hidden = 50
 
 left_input = Input(shape=(max(tr_seq_len_tx1),), dtype='float32')
 right_input = Input(shape=(max(tr_seq_len_tx2),), dtype='float32')
 left_sen_representation = shared_model(left_input, max(tr_seq_len_tx1))
 right_sen_representation = shared_model(right_input, max(tr_seq_len_tx2))
 
 # Introduce the Manhattan distance, and then pass the original vector on the transformed concat through a multi-layer DNN to make a non-linear transformation and sigmoid similarity
 # Did not use the Mahalanobis distance mentioned in https://zhuanlan.zhihu.com/p/31638132, tried the Manhattan distance, dot product and cos, and the Manhattan effect is the best
 man_distance = ManDist()([left_sen_representation, right_sen_representation])
 sen_representation = concatenate([left_sen_representation, right_sen_representation, man_distance])
 similarity = Dense(1, activation='sigmoid')(Dense(2)(Dense(4)(Dense(16)(sen_representation))))
 model = Model(inputs=[left_input, right_input], outputs=[similarity])
 
 model.compile(loss='mean_squared_error', optimizer="Adam", metrics=['accuracy'])
 model.summary()
 

 malstm_trained = model.fit([tf.convert_to_tensor(X_train['text1'].tolist()), tf.convert_to_tensor(X_train['text2'].tolist())], Y_train,
 batch_size=batch_size, epochs=2,
 validation_data=([tf.convert_to_tensor(X_val['text1'].tolist()), tf.convert_to_tensor(X_train['text2'].tolist())], Y_val))
 
 # Plot accuracy
 import  matplotlib
 matplotlib.use('Agg')
 import  matplotlib . pyplot  as  plt
 
 plt.subplot(211)
 plt.plot(malstm_trained.history['acc'])
 plt.plot(malstm_trained.history['val_acc'])
 plt.title('Model Accuracy')
 plt.ylabel('Accuracy')
 plt . xlabel ( 'Epoch' )
 plt.legend(['Train', 'Validation'], loc='upper left')
 
 # Plot loss
 plt.subplot(212)
 plt.plot(malstm_trained.history['loss'])
 plt.plot(malstm_trained.history['val_loss'])
 plt.title('Model Loss')
 plt.ylabel('Loss')
 plt . xlabel ( 'Epoch' )
 plt.legend(['Train', 'Validation'], loc='upper right')
 
 plt.tight_layout(h_pad=1.0)
 plt.savefig('./data/history-graph.png')
 
#  model.save(savepath)
#  print(str(malstm_trained.history['val_acc'][-1])[:6] +
#  "(max: " + str(max(malstm_trained.history['val_acc']))[:6] + ")")
#  print("Done.")

Model: "model_2"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_7 (InputLayer)           [(None, 51471)]      0           []

 input_8 (InputLayer)           [(None, 60046)]      0           []

 embedding_4 (Embedding)        (None, 51471, 128)   13552512    ['input_7[0][0]']

 embedding_5 (Embedding)        (None, 60046, 128)   13552512    ['input_8[0][0]']

 bidirectional_8 (Bidirectional  (None, 51471, 100)  71600       ['embedding_4[0][0]']
 )

 bidirectional_10 (Bidirectiona  (None, 60046, 100)  71600       ['embedding_5[0][0]']
 l)

 bidirectional_9 (Bidirectional  (None, 51471, 100)  60400       ['bidirectional_8[0][0]']
 )

 bidirectional_11 (Bidirectiona  (None, 60046, 100)  60400       ['bidirectional_10[0][0]']
 l)

 time_distributed_4 (TimeDistri  (None, 51471, 1)    101         ['bidirectional_9[0][0]']
 buted)

 time_distributed_5 (TimeDistri  (None, 60046, 1)    101         ['bidirectional_11[0][0]']
 buted)

 flatten_4 (Flatten)            (None, 51471)        0           ['time_distributed_4[0][0]']

 flatten_5 (Flatten)            (None, 60046)        0           ['time_distributed_5[0][0]']

 activation_4 (Activation)      (None, 51471)        0           ['flatten_4[0][0]']

 activation_5 (Activation)      (None, 60046)        0           ['flatten_5[0][0]']

 repeat_vector_4 (RepeatVector)  (None, 100, 51471)  0           ['activation_4[0][0]']

 repeat_vector_5 (RepeatVector)  (None, 100, 60046)  0           ['activation_5[0][0]']

 permute_4 (Permute)            (None, 51471, 100)   0           ['repeat_vector_4[0][0]']

 permute_5 (Permute)            (None, 60046, 100)   0           ['repeat_vector_5[0][0]']

 multiply_4 (Multiply)          (None, 51471, 100)   0           ['bidirectional_9[0][0]',
                                                                  'permute_4[0][0]']

 multiply_5 (Multiply)          (None, 60046, 100)   0           ['bidirectional_11[0][0]',
                                                                  'permute_5[0][0]']

 lambda_4 (Lambda)              (None, 100)          0           ['multiply_4[0][0]']

 lambda_5 (Lambda)              (None, 100)          0           ['multiply_5[0][0]']

 man_dist_2 (ManDist)           (None, 1)            0           ['lambda_4[0][0]',
                                                                  'lambda_5[0][0]']

 concatenate_2 (Concatenate)    (None, 201)          0           ['lambda_4[0][0]',
                                                                  'lambda_5[0][0]',
                                                                  'man_dist_2[0][0]']

 dense_17 (Dense)               (None, 16)           3232        ['concatenate_2[0][0]']

 dense_16 (Dense)               (None, 4)            68          ['dense_17[0][0]']

 dense_15 (Dense)               (None, 2)            10          ['dense_16[0][0]']

 dense_14 (Dense)               (None, 1)            3           ['dense_15[0][0]']

==================================================================================================
Total params: 27,372,539
Trainable params: 27,372,539
Non-trainable params: 0
__________________________________________________________________________________________________
Epoch 1/2

ResourceExhaustedError: Graph execution error:

Detected at node 'model_2/embedding_4/embedding_lookup' defined at (most recent call last):
    File "c:\Users\ayush\miniconda3\lib\runpy.py", line 197, in _run_module_as_main
      return _run_code(code, main_globals, None,
    File "c:\Users\ayush\miniconda3\lib\runpy.py", line 87, in _run_code
      exec(code, run_globals)
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
      app.launch_new_instance()
    File "c:\Users\ayush\miniconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
      app.start()
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel\kernelapp.py", line 712, in start
      self.io_loop.start()
    File "c:\Users\ayush\miniconda3\lib\site-packages\tornado\platform\asyncio.py", line 215, in start
      self.asyncio_loop.run_forever()
    File "c:\Users\ayush\miniconda3\lib\asyncio\base_events.py", line 601, in run_forever
      self._run_once()
    File "c:\Users\ayush\miniconda3\lib\asyncio\base_events.py", line 1905, in _run_once
      handle._run()
    File "c:\Users\ayush\miniconda3\lib\asyncio\events.py", line 80, in _run
      self._context.run(self._callback, *self._args)
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
      await self.process_one()
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
      await dispatch(*args)
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
      await result
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel\kernelbase.py", line 730, in execute_request
      reply_content = await reply_content
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel\ipkernel.py", line 383, in do_execute
      res = shell.run_cell(
    File "c:\Users\ayush\miniconda3\lib\site-packages\ipykernel\zmqshell.py", line 528, in run_cell
      return super().run_cell(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2940, in run_cell
      result = self._run_cell(
    File "c:\Users\ayush\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2995, in _run_cell
      return runner(coro)
    File "c:\Users\ayush\miniconda3\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
      coro.send(None)
    File "c:\Users\ayush\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3194, in run_cell_async
      has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
    File "c:\Users\ayush\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3373, in run_ast_nodes
      if await self.run_code(code, result, async_=asy):
    File "c:\Users\ayush\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3433, in run_code
      exec(code_obj, self.user_global_ns, self.user_ns)
    File "C:\Users\ayush\AppData\Local\Temp\ipykernel_23920\2505336425.py", line 67, in <module>
      malstm_trained = model.fit([tf.convert_to_tensor(X_train['text1'].tolist()), tf.convert_to_tensor(X_train['text2'].tolist())], Y_train,
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\training.py", line 1564, in fit
      tmp_logs = self.train_function(iterator)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\training.py", line 1160, in train_function
      return step_function(self, iterator)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\training.py", line 1146, in step_function
      outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\training.py", line 1135, in run_step
      outputs = model.train_step(data)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\training.py", line 993, in train_step
      y_pred = self(x, training=True)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\training.py", line 557, in __call__
      return super().__call__(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\base_layer.py", line 1097, in __call__
      outputs = call_fn(inputs, *args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\utils\traceback_utils.py", line 96, in error_handler
      return fn(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\functional.py", line 510, in call
      return self._run_internal_graph(inputs, training=training, mask=mask)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\functional.py", line 667, in _run_internal_graph
      outputs = node.layer(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\engine\base_layer.py", line 1097, in __call__
      outputs = call_fn(inputs, *args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\utils\traceback_utils.py", line 96, in error_handler
      return fn(*args, **kwargs)
    File "c:\Users\ayush\miniconda3\lib\site-packages\keras\layers\core\embedding.py", line 208, in call
      out = tf.nn.embedding_lookup(self.embeddings, inputs)
Node: 'model_2/embedding_4/embedding_lookup'
OOM when allocating tensor with shape[1024,51471,128] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
	 [[{{node model_2/embedding_4/embedding_lookup}}]]
Hint: If you want to see a list of allocated tensors when OOM happens, add report_tensor_allocations_upon_oom to RunOptions for current allocation info. This isn't available when running in Eager mode.
 [Op:__inference_train_function_71857]